@page
@model restaurante.app.webapp.pages.ComidasModel
@{
}

<div class="message d-flex align-items-center section-bg bg-light">
    <div class="d-flex container">
        <div>
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut corporis sunt illo vitae ab fugiat obcaecati
                sed vero velit harum optio sapiente minus laborum saepe, assumenda cupiditate quae officiis natus?</p>
        </div>
    </div>
</div>
