@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- Inicio contenido -->
<section class="message d-flex align-items-center section-bg bg-light">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <!-- Inicio Mensaje -->
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start p-4 ">
                <div class="row m-2">
                    <h2 class="col-12">Bienvenido</h2>
                    <br />
                    <span class="col-12 span-text">Disfruta de la comida</span>
                </div>
                <p class="min-text">
                    Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet.
                    Eum quas beatae cumque eum quaerat.
                </p>
            </div> <!-- Final Mensaje Mensaje -->
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="Img/Burger-Food.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section> <!-- Final Contenido -->
</div>
